<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>	
	<category label="General">
		<setting id="save_time"  type="number"  label="Cache Save Time (in hours)" visible="true" default="0"/>		
		<setting id="general.access.code" type="text" default="opensesame" visible="hidden" />
		<setting id="scraping.providers.pages" type="text" default="3" visible="hidden" />
		<setting id="scraping.providers.timeout" type="text" default="18" visible="hidden" />
		<setting id="torrent.min.seeders" type="text" default="0" visible="hidden" />
		<setting label="[COLOR white]Each page contains 20 results with a 10 page maximum[/COLOR]" type="lsep"/>
		<setting id="num_p"  type="number"  label="Pages To Scan" visible="true" default="1"/>		
		<setting id="debugmode" label="Debug Mode" type="bool" default="false" />
		<setting id="server_test_one" label="Server Test Mode" type="bool" default="false" />
		<setting label="[COLOR white]Display Lock[/COLOR]" type="lsep"/>
		<setting id="lock_display" label="Enable Display Lock" type="bool" default="true" />
		<setting id="cache_clean" label="Clear Cache on Addon Entry" type="bool" default="true" />
		<setting label="[COLOR white]Progress Bar[/COLOR]" type="lsep"/>
		<setting id="dp" label="Enable Progress Bar" type="bool" default="true" />		
		<setting id="dp_play" label="Enable Progress Bar On Play" type="bool" default="true" />
		<setting id="server_dp" label="Enable Scraping Progress Bar" type="bool" default="true" />
	</category>
	
	
	<category label="Source Menus">
		<setting label="[COLOR white]Source Menus[/COLOR]" type="lsep"/>
		<setting id="chapi_enable" label="Open Sources In Metalliq Button" type="bool" default="false" />		
		<setting label="[COLOR white]Metalliq version: plugin.video.xxxx[/COLOR]" visible="eq(-1,true)" type="lsep"/>
		<setting id="metaliq_version_for_s" type="text" label="Enter Metaliq Fork" visible="eq(-2,true)" default="metalliq" />		
		<setting id="auto_enable" label="Auto Play Button" type="bool" default="false" />		
	</category>
	<category label="Source Display">
		<setting label="[COLOR white]Scraping In New Window[/COLOR]"  type="lsep"/>
		<setting id="new_server_dp" label="Enable Scraping New Windows" type="bool"  default="true" />		
		<setting id="new_server_dp_option" type="enum" label="Window Style" visible="eq(-1,true)" values="Detailed|Movie|Recommended|Random" default="1" />		
		<setting id="video_in_sources" label="Display Trailer In Window-Movies" type="bool" visible="eq(-2,true)" default="true" />
		<setting id="video_in_sources_tv" label="Display Trailer In Window-TV" type="bool" visible="eq(-3,true)" default="true" />
		<setting id="video_in_s_wait" label="Wait for Trailer to End" type="bool" visible="eq(-4,true)" default="false" />		
		<setting id="video_type_in_s" type="enum" label="Trailer Content" visible="eq(-5,true)+!eq(-4,2)" values="Recommended|Current Movie" default="1" />
		<setting label="[COLOR white]Source Display[/COLOR]" type="lsep"/>
		<setting id="check_l" label="Check Links (Slower but Better)" type="bool" default="true" />
		<setting id="new_source_menu" label="Display Sources In A Window" type="bool" default="true" />
		<setting id="new_window_type2" type="enum" label="Window Type" values="Display Type 1|Display Type 2|Display Type 3|Display Type 4" visible="eq(-1,true)" default="3" />
		<setting id="play_full_time"  type="number"  label="Display time before going to full screen mode (in secs)" visible="eq(-1,3)" default="10"/>
		<setting id="play_first" label="Auto Play In Window Type 4" type="bool" visible="eq(-2,3)" default="false" />		
		<setting id="auto_enable_new" label="Auto Play Button" type="bool" visible="eq(-3,3)" default="false" />
		<setting id="auto_magnet_free" label="Auto Play Torrents Window Type 4" type="bool" visible="eq(-4,3)" default="false" />
		<setting label="[COLOR white]Order[/COLOR]" type="lsep"/>		
		<setting id="order_networks" type="enum" label="Order In Networks" values="Popular|Newest|Most Voted"  default="0" />
		<setting id="source_sim" label="Cleaner Sources Display" type="bool" default="true" />
		<setting id="order_latest" label="Smart Arrangement of Series Tracker" type="bool" default="true" />
		<setting id="tv_ep_window" label="Series Tracker in Window" type="bool" default="true" />
		<setting label="[COLOR white]Auto Quality Selection[/COLOR]" type="lsep"/>
		<setting id="auto_q" type="bool" label="Enable Auto Quality Selection" default="true" />
		<setting id="quality" type="enum" label="Choose Auto Quality Selection" values="1080p|720p|480p|360p" visible="eq(-1,true)" default="0" />
		<setting id="show_p2" label="Display Sources In Pause" type="bool" default="false" />
		<setting id="show_p_time"  type="number"  label="Close After (in secs)" visible="true" default="20"/>
		<setting id="adv_watched" label="Advanced Last Playing Point" type="bool" default="true" />
		<setting label="[COLOR white]Show Trailer from Source Search (When Not in Source Window Display)[/COLOR]" type="lsep"/>
		<setting id="trailer_dp" label="Enable Trailer" type="bool" default="false" />
		<setting id="trailer_wait" label="Wait For The Trailer To End" type="bool" default="true" />
		<setting label="[COLOR white]Fast Play (When Not in Source Window Mode)[/COLOR]" type="lsep"/>
		<setting id="fast_play2_movie" label="Auto Play Movies" type="bool" default="false" />
		<setting id="fast_play2_tv" label="Auto Play TV Shows" type="bool" default="false" />
		<setting id="src_disp" label="Display Sources When Done" type="bool" default="true" />
	</category>	
	
	
	<category label="Torrents">
		<setting id="allow_free" label="Allow Free torrent player" type="bool" default="true" />
		<setting label="[COLOR white]Use of Torrents without RD or VPN is NOT Recommended[/COLOR]" type="lsep" />
		<setting id="torrent_warning" label="Enable Torrent Warning" type="bool"  default="true" />
		<setting id="magnet" label="Enable Torrent Sources" type="bool" default="true" />		
		<setting id="all_t" type="enum" label="Display Option" visible="eq(-1,true)" values="All Sources Together|Only Torrents|Torrents In Seperated Categories." default="0" />
		<setting id="order_torrents_new" label="Order By Seeders" type="bool" default="false" />
		<setting id="min_seed"  type="number"  label="Minimum Seed Numbers" visible="eq(-3,true)" default="0"/>
		<setting id="size_limit"  type="number"  label="Filter Sources Larger Than (Gb)" visible="eq(-4,true)" default="4"/>
		<setting id="players_new" type="enum" label="Choose Player" visible="eq(-5,true)" values="Quasar|Pulsar|KmediaTorrent|Torrenter|YATP|XBMCtorrent|PopcornTime|Doom|Acestream|Choose" default="7" />
		<setting label="*** Download Doom Torrent Player ***" visible="eq(-6,true)" option="close" type="action"  action="RunPlugin(plugin://plugin.video.doom?mode2=118&url=www)"/>
		<setting label="*** Remove Doom Torrent Player ***" visible="eq(-7,true)" option="close" type="action"  action="RunPlugin(plugin://plugin.video.doom?mode2=119&url=www)"/> 

    <!-- Start torrent servers --> 
		<setting id="1337x" label="1337x [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="bitlord" label="bitlord [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="btbit" label="btbit [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="btscene" label="btscene [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="digbt" label="digbt [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="extratorrent" label="extratorrent [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="eztv" label="eztv [COLOR aqua] (Tv) [/COLOR] " type="bool" default="true" />
		<setting id="glodls" label="glodls [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="glotorrents" label="glotorrents [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="kickass2" label="kickass2 [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="limetorrents" label="limetorrents [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="magnet4you" label="magnet4you [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="magnetdl" label="magnetdl [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="mkvcage" label="mkvcage [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="movcr" label="movcr [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="piratebay" label="piratebay [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="pirateiro" label="pirateiro [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="popcorntime" label="popcorntime [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="prostylex" label="prostylex [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="rarbg" label="rarbg [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="showrss" label="showrss [COLOR aqua] (Tv) [/COLOR] " type="bool" default="true" />
		<setting id="skytorrents" label="skytorrents [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="solidtorrents" label="solidtorrents [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="thepiratebay" label="thepiratebay [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="torrentapi" label="torrentapi [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="torrentdownload" label="torrentdownload [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="torrentfunk" label="torrentfunk [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="torrentproject" label="torrentproject [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="torrentquest" label="torrentquest [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="torrenttm" label="torrenttm [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="torrentz2" label="torrentz2 [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="yify" label="yify [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="ytsam" label="ytsam [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="zoogle" label="zoogle [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
	<!-- End torrent servers -->
	</category>
	
	
	<category label="Sources">
		<setting id="time_s"  type="number"  label=" Maximum Link Search Time (in secs)" visible="true" default="60"/>
	<!-- Start normal servers -->
		<setting id="123moviehubz" label="123moviehubz [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="bnwmovies" label="bnwmovies [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="cmovies" label="cmovies [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="cartoonhd" label="cartoonhd [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="coolmovie" label="coolmovie [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="divxcrawler" label="divxcrawler [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="extramovies" label="extramovies [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="freefmovies" label="freefmovies [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="goldmovies" label="goldmovies [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="gomo" label="gomo [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="gowatchseries" label="gowatchseries [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="hdmto" label="hdmto [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="iwaatch" label="iwaatch [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="iwah" label="iwah [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="miradetodo" label="miradetodo [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="movies123" label="movies123 [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
        <setting id="putlocker" label="putlocker [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="putlockerfree" label="putlockerfree [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="series9" label="series9 [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="seriesonline" label="seriesonline [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="swatchseries" label="swatchseries [COLOR aqua] (Tv) [/COLOR] " type="bool" default="true" />
		<setting id="tvbox" label="tvbox [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="watchepisodes" label="watchepisodes [COLOR aqua] (Tv) [/COLOR] " type="bool" default="true" />
		<setting id="watchstream" label="watchstream [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="yesmovies" label="yesmovies  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
	<!-- End normal servers -->
	</category>	
	
	<category label="Max Quality">
	    <setting id="auto_q_source" type="bool" label="Enable Quality Filter" default="true" />
	    <setting id="max_quality_m" type="enum" label="Movies" values="2160p|1080p|720p|480p|360p" default="0" />
	    <setting id="max_quality_t" type="enum" label="TV" values="2160p|1080p|720p|480p|360p" default="0" />	
	</category>
	
	<category label="Main Menu Items">
		<setting id="m_movies" type="bool" label="Movies" default="true" />
		<setting id="m_tvshows" type="bool" label="TV Shows" default="true" />
		<setting id="m_fav" type="bool" label="My Favorites" default="false" />
		<setting id="m_setting" type="bool" label="Settings" default="true" />	
		<setting id="m_enterr" type="bool" label="Enable Real Debrid" default="true" />	
		<setting id="m_clear" type="bool" label="Clear Cache" default="true" />
		<setting id="m_update" type="bool" label="Update Sources" default="false" />
		<setting id="m_recover" type="bool" label="Recover From A Backup" default="false" />
		<setting id="m_checks" type="bool" label="Check Sources" default="false" />
		<setting id="m_rating" type="bool" label="My Rating" default="false" />
		<setting id="m_lastp" type="bool" label="Last Played" default="false" />
		<setting id="m_search" type="bool" label="Search" default="true" />
		<setting id="m_trakt" type="bool" label="Trakt" default="true" />		
	</category>
	
	<category label="Favourite Sources">
		<setting id="time_to_wait_for_rest"  type="number"  label="Wait Time For Remaining Source Searches (in secs)" visible="true" default="20"/>
		<setting type="lsep" label="[COLOR white]Movies[/COLOR]" />
		<setting id="fav_servers_en" label="Enable Favourite Sources" type="bool" default="true" />
		<setting label="[COLOR white]Enter source names separated by a comma (,) between each one[/COLOR]" type="lsep" visible= "eq(-1,true)"/>
		<setting id="fav_servers" type="text" label="Enter" default="" visible= "eq(-2,true)" enable="eq(-2,true)" />
		<setting id="fav_search_f" label="Search Favourite Sources First" visible= "eq(-3,true)" type="bool" default="true" />
		<setting id="fav_search_time_en" label="Enable Different Time For Favourite Source Searches" visible= "eq(-4,true)" type="bool" default="true" />
		<setting id="fav_search_time" label="Seek Time For Favourite Source Searches (in secs)" visible= "eq(-5,true)" type="number" default="30" />
		<setting id="fav_search_rest" label="Continue remaining source searches in the backgroud" visible= "eq(-6,true)" type="bool" default="false" />		
		<setting type="lsep" label="[COLOR white]TV[/COLOR]" />
		<setting id="fav_servers_en_tv" label="Enable Favourite Sources" type="bool" default="true" />
		<setting label="[COLOR white]Enter source names separated by a comma (,) between each one[/COLOR]" type="lsep" visible= "eq(-1,true)"/>
		<setting id="fav_servers_tv" type="text" label="Enter" default="" visible= "eq(-2,true)" enable="eq(-2,true)" />
		<setting id="fav_search_f_tv" label="Search Favourite Sources First" visible= "eq(-3,true)" type="bool" default="true" />
		<setting id="fav_search_time_en_tv" label="Seek Time For Favorites Source Searches" visible= "eq(-4,true)" type="bool" default="true" />
		<setting id="fav_search_time_tv" label="Seek Time For Favourite Source Searches (in secs)" visible= "eq(-5,true)" type="number" default="30" />
		<setting id="fav_search_rest_tv" label="Continue Remaining Source Searches In The Backgroud" visible= "eq(-6,true)" type="bool" default="false" />	
	</category>
	
	
	<category label="Source Filtering">
		<setting id="remove_all" label="Filter all but..." type="bool" default="false" />
		<setting id="re_rapid" label="Rapidvideo" type="bool" default="true"  visible= "eq(-1,true)"/>
		<setting id="re_google" label="Google" type="bool" default="true"  visible= "eq(-2,true)"/>
		<setting id="re_direct" label="Direct" type="bool" default="true"  visible= "eq(-3,true)" />
		<setting id="re_magnet" label="Torrents" type="bool" default="true"  visible= "eq(-4,true)"/>
		<setting id="re_vidc" label="Vidcloud" type="bool" default="true"  visible= "eq(-5,true)"/>
		<setting label="[COLOR white]Enter The Sources You Wish To Filter all but...[/COLOR]" type="lsep" visible= "eq(-6,true)"/>		
		<setting id="unfilter" type="text" label="Enter" default="" visible= "eq(-7,true)"/>
		<setting type="lsep"/>
		<setting id="shrink" label="Remove Duplicated Links" type="bool" default="true" />
		<setting label="[COLOR white]Enter source names seperated by a comma (,) between each one[/COLOR]" type="lsep"/>		
		<setting id="ignore_ser" type="text" label="Enter" default="" />		
	</category>
	
	<category label="Trakt">
		<setting id="use_trak" label="Use TRAKT" type="bool" default="false" />
		<setting id="trac_trk" label="Open Series Tracker in TRAKT" type="bool" default="false" />
		<setting id="time_to_save" label="Mark the Movie / TV Show as Watched after viewing % of the show" type="number" default="75" />
		<setting label="Reset Trakt Authentication" option="close" type="action" action="RunPlugin(plugin://plugin.video.doom?mode2=30&url=www)"/>	
		<setting label="trakt access token" id="trakt_access_token" type="text" visible="false" />
	    <setting label="trakt refresh token" id="trakt_refresh_token" type="text" visible="false" />
	    <setting label="trakt refresh token" id="trakt_expires_at" type="text" visible="false" />
	</category>
	
	<category label="Next Episode">
		<setting id="nextup" label="Enable Next Episode Source Display" type="bool" default="true" />
		<setting id="play_nextup_wait" label="Auto Play if no selection has been made" type="bool" default="true" />
		<setting id="window" label="Time to display the window prior to the end of the show (in secs)" type="number" default="30" />
		<setting id="width" label="Window width" type="number" default="400" />
		<setting id="hight" label="Window hight" type="number" default="700" />
		<setting id="px" label="Location X" type="number" default="10" />
		<setting id="py" label="Location Y" type="number" default="10" />
	</category>
	
	<category label="Real Debrid">
		<setting id="rd.auth" type="text" default="" visible="hidden" />
		<setting id="rd.refresh" type="text" default="" visible="hidden" />
		<setting id="rd.client_id" type="text" default="" visible="hidden" />
		<setting id="rd.expiry" type="text" default="0" visible="hidden"/>
		<setting id="rd.secret" type="text" default="" visible="hidden" />
		<setting id="ghaddr" type="text" default="" visible="hidden" />
		<setting id="rdsource" label="Enable RD" type="bool" default="false" />
		<setting id="magnet_rd_reso" type="enum" label="Torrent premium resolver" values="ResolverURL" default="0" />
		<setting id="check_cached" label="Check For Cached Torrents" type="bool" default="true" />
		<setting id="check_cached_r" label="Remove UnCached Torrents From Results" type="bool" default="false" />
		<setting id="rd_only" label="RD Sources Only" type="bool" default="false" />
		<setting type="lsep" label="[COLOR white]Super fast play for torrents[/COLOR]" />
		<setting type="lsep" label="[COLOR white]Play the link while scraping[/COLOR]" />
		<setting id="super_fast" label="Enable Super fast play for torrents" type="bool" default="false" />
		<setting label="[COLOR lightblue]Res. Conditions[/COLOR]" type="lsep" visible= "eq(-1,true)" />
		<setting label="Movies" type="lsep" visible= "eq(-2,true)"/>
		<setting id="movies_min_super_fast" type="enum" label="Min Resolution" values="2160p|1080p|720p|480p|360p" default="1" visible="eq(-3,true)" />
		<setting id="movies_max_super_fast" type="enum" label="Max Resolution" values="2160p|1080p|720p|480p|360p" default="1" visible="eq(-4,true)" />
		<setting label="TV" type="lsep" visible= "eq(-5,true)"/>
		<setting id="tv_min_super_fast" type="enum" label="Min Resolution" values="2160p|1080p|720p|480p|360p" default="2" visible="eq(-6,true)" />
		<setting id="tv_max_super_fast" type="enum" label="Max Resolution" values="2160p|1080p|720p|480p|360p" default="2" visible="eq(-7,true)" />
		<setting  type="lsep" />
		<setting label="Reset RD Authentication" option="close" type="action" action="RunPlugin(plugin://plugin.video.doom?mode2=137&url=www)"/>
		<setting label="RD Re-Authentication " option="close" type="action" action="RunPlugin(plugin://plugin.video.doom?mode2=138&url=www)"/>		
		<setting id="rd_menu_enable" label="Add RD sources button to sources" type="bool" default="false" />

	<!-- Start RD servers -->
		<setting id="0day" label="0day [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="300mbfilms" label="300mbfilms [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="bestmoviez" label="bestmoviez [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="ddlspot" label="ddlspot [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="ddlvalley" label="ddlvalley [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="directdl" label="directdl [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="filmxy" label="filmxy [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="invictus" label="invictus [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="iwantmyshow" label="iwantmyshow [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="moviesleak" label="moviesleak [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="mvrls" label="mvrls [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="rlsbb" label="rlsbb [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="scenerls" label="scenerls [COLOR aqua] (Tv) [/COLOR]  [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
		<setting id="ultrahd" label="ultrahd [COLOR pink] (Movies) [/COLOR] " type="bool" default="true" />
<!-- End RD servers -->		
	</category>
		
	<category label="Download">
		<setting id="idm_folder" type="folder" label="IDM Location." default="C:\Program Files (x86)\Internet Download Manager"/>
		<setting id="dialog_idm" label="Download Immediately" type="bool" default="true" />	
	</category>
	
	<category label="DB Backup">
		<setting label="Define the Backup Path For Doom" type="lsep"/>
		<setting label="[COLOR white]For Watched, Series Tracker, etc...[/COLOR]" type="lsep"/>
		<setting id="enable_db_bk" label="Enable Auto-Backup" type="bool" default="false" />
		<setting label="*** Backup Now ***" option="close" type="action"  visible="eq(-1,true)" action="RunPlugin(plugin://plugin.video.doom?mode2=120&url=False)"/>
		<setting id="db_backup"  type="number"  label="Backup Every ... Day(s)" visible="true" default="1"/>
		<setting id="remote_selection" type="enum" lvalues="Local|FTP" default="0" label="Backup location"/>		
		<setting id="remote_path" type="folder" label="Choose Folder" visible="eq(-1,0)" />
		<setting label="[COLOR red]N.B. You Must Ensure Filenames Are Unique ![/COLOR]" type="lsep"/>		
		<setting id="db_bk_name" type="text" label="Backup Name" default="db_backup"  />
		<setting id="ftp_host" type="text" label="FTP Host" visible="eq(-4,1)" default="" />
		<setting id="ftp_user" type="text" label="FTP User" visible="eq(-5,1)" default="" />
		<setting id="ftp_pass" type="text" option = "hidden" label="FTP Password" visible="eq(-6,1)" default="" />
		<setting label="Check Connection" option="close" type="action" visible="eq(-7,1)" action="RunPlugin(plugin://plugin.video.doom?mode2=90&url=www)"/>
	</category>
	<!-- APIS -->
    <category label="Jen Settings">
		<setting id="debug Jen" type="bool" label="API's" default="false" visible="false"/>
        <setting id="first_run" label="first run" type="bool" default="false" visible="false"/>
		<setting id="jen_sources" type="enum" label="Jen Scraper" values="Universal|doom" default="1"  />
		<setting label="Enable Main Cache" type="bool" id="enable_cache" default="true" visible="true"/>
        <setting label="Cache Location" id="cache_folder" type="folder" default="special://profile/addon_data/plugin.video.doom/" visible="false"/>
        <setting label="TVDB API Key" type="text" id="tvdb_api_key" option="hidden" default="MM1FCBBK0G81KFR1" visible="eq(-3,true)"/>
        <setting label="TMDB API Key" type="text" id="tmdb_api_key" option="hidden" default="e7d229e4725ffe65f9458953c3287235" visible="eq(-4,true)"/>
        <setting label="Trakt Client ID" type="text" id="trakt_api_client_id" option="hidden" default="2dc6f1180d00b3ae9ed3d853b41af40ab3c26af23f730f50e0a262f277c2780c" visible="eq(-5,true)"/>
        <setting label="Trakt Client Secret" type="text" id="trakt_api_client_secret" option="hidden" visible="!eq(-1,true) + eq(-6,true)" default="dca4571439aef5da45b7b03db43b792464069694cf0a35b19bde453de70981be"/>
        <setting label="Last.fm API Key" type="text" id="lastfm_api_key" option="hidden" default="25324513a9a7ef270fa50d25d1d6e064" visible="eq(-7,true)"/>
        <setting label="Last.fm Secret" type="text" id="lastfm_secret" option="hidden" visible="!eq(-1,true) + eq(-8,true)" default="28256ba9cd34a6549da90e4c8c85ad42"/>
        <setting id="TRAKT_ACCESS_TOKEN_jen" label="" type="text" visible="false"/>
        <setting id="TRAKT_EXPIRES_AT_jen" label="" type="text" visible="false"/>
        <setting id="TRAKT_REFRESH_TOKEN_jen" label="" type="text" visible="false"/>
		<setting label="Main Cache Time in minutes" type="text" id="main_cache_time" default="0" visible="true"/>	
		<setting label="Settings" type="lsep"/>
		<setting label="Open Scraper Settings" type="action" option="close" action="RunPlugin(plugin://plugin.video.doom/?mode2=144&url=www)"/>
		<setting id="use_link_dialog" label="Enable Link Selection Dialog" type="bool" default="true" />
        <setting id="link_fallthrough" label="Enable Link Selection Fallthrough" type="bool"	default="true" visible="eq(-1,true)"/>
		<setting label="Resolver Settings" type="lsep"/>
        <setting label="Open Resolver Settings" type="action" option="close" action="RunPlugin(plugin://plugin.video.doom/?mode2=145&url=www)"/>
	<!-- filtering settings -->
        <setting label="Filtering Options" type="lsep"/>
        <setting id="allow_debrid" label="Enable Debrid" type="bool" default="false"/>
        <setting id="allow_the_video_me" label="Allow thevideo.me links" type="bool" default="false"/>
        <setting id="allow_vidup_me" label="Allow vidup.me links" type="bool" default="false"/>
        <setting label="Message options" type="lsep" visible="false"/>
        <setting id="disable_messages" label="Disable all loading messages" type="bool" default="false" visible="false"/>
        <setting id="enable_offensive" label="Enable possibly offensive messages" type="bool" default="false" enable="eq(-1,false)" visible="false"/>
        <setting label="Queueing Options" type="lsep" visible="false"/>
        <setting id="include_watched_queue" label="Include Watched In Collection Queueing" type="bool" default="false" visible="false"/>
        <setting id="autostart_queue" label="Auto start queue if empty" type="bool" default="true" visible="false"/>
	</category>
	
	<category label="Torrent Player">
	    <setting label="30135" type="lsep" />
		<setting id="buffer_pre" type="number" label="Pre Buffer Size" default="25"  />
        <setting id="debug" type="bool" label="30158" default="false" />
		<setting label="30115" type="lsep" />
        <setting id="movies_proxies" type="text" label="30116" />       
		<setting label="30159" type="lsep" />
        <setting id="listen_port" type="number" label="30139" default="6881" enable="eq(11,true) + eq(1,false)" />
        <setting id="use_random_port" type="bool" label="30140" default="true" enable="eq(10,true)"  />
        <setting id="encryption" type="enum" label="30111" lvalues="30123|30124|30125" default="1" />
        <setting id="connections_limit" type="number" label="30143" default="200" />
		<setting label="30133" type="lsep" />
        <setting id="torrent_connect_boost" type="number" label="30145" default="50" />
        <setting id="connection_speed" type="number" label="30146" default="50" />
        <setting id="peer_connect_timeout" type="number" label="30147" default="30" />
        <setting id="min_reconnect_time" type="number" label="30149" default="60" />
        <setting id="max_failcount" type="number" label="30150" default="3" />
		<setting label="30134" type="lsep" />
        <setting id="enable_tcp" type="bool" label="30141" default="true" />
        <setting id="enable_dht" type="bool" label="30151" default="true" />
        <setting id="enable_lsd" type="bool" label="30152" default="true" />
        <setting id="enable_utp" type="bool" label="30142" default="true" />
        <setting id="enable_scrape" type="bool" label="30155" default="false" />
        <setting id="enable_upnp" type="bool" label="30154" default="true" />
        <setting id="enable_natpmp" type="bool" label="30153" default="true" />
		<setting label="30138" type="lsep" />
        <setting id="trackers" type="text" label="30156" default="" />
        <setting id="dht_routers" type="text" label="30157" default="" />
        <setting id="last_update_id"  type="text" value="" visible="false" />
        <setting label="30105" type="lsep" />
        <setting id="movies_subtitle_language0" type="enum" label="30119" default="0" lvalues="30170|30201|30202|30203|30204|30205|30206|30207|30208|30209|30210|30211|30212|30213|30214|30215|30216|30217|30218|30219|30220|30221|30222|30223|30224|30225|30226|30227|30228|30229|30230|30231|30232|30233|30234|30235|30236|30237|30238" enable="gt(14,0)" />
        <setting id="movies_subtitle_language1" type="enum" label="30120" default="0" lvalues="30170|30201|30202|30203|30204|30205|30206|30207|30208|30209|30210|30211|30212|30213|30214|30215|30216|30217|30218|30219|30220|30221|30222|30223|30224|30225|30226|30227|30228|30229|30230|30231|30232|30233|30234|30235|30236|30237|30238" enable="gt(13,0) + gt(-1,0)" />
        <setting id="movies_subtitle_language2" type="enum" label="30121" default="0" lvalues="30170|30201|30202|30203|30204|30205|30206|30207|30208|30209|30210|30211|30212|30213|30214|30215|30216|30217|30218|30219|30220|30221|30222|30223|30224|30225|30226|30227|30228|30229|30230|30231|30232|30233|30234|30235|30236|30237|30238" enable="gt(12,0) + gt(-2,0) + gt(-1,0)" />
        <setting id="movies_hearing_impaired" type="bool" label="30164" default="false" enable="gt(11,0) + gt(-3,0)" />
		<setting label="30117" type="lsep" />
        <setting id="movies_quality" type="enum" label="30107" lvalues="30106|30118" default="1" />
        <setting id="movies_play3d" type="enum" label="30109" lvalues="30126|30127|30128" default="0" enable="gt(-1,0)" />
		<setting label="30102" type="lsep" />
        <setting id="movies_download_path" type="folder" label="30103" source="auto" option="writeable" />
        <setting id="movies_keep_complete" type="bool" label="30136" default="false" enable="eq(1,false) + eq(2,false)" />
        <setting id="movies_keep_incomplete" type="bool" label="30137" default="false" enable="eq(-1,false) + eq(1,false)" />
        <setting id="movies_keep_files" type="bool" label="30104" default="false" enable="eq(-1,false) + eq(-2,false)" />
		<setting label="30132" type="lsep" />
        <setting id="movies_metadata_provider" type="enum" label="30165" default="1" lvalues="30170|30171" />
        <setting id="movies_subtitle_provider" type="enum" label="30168" default="1" lvalues="30170|30172" />
		<setting id="movies_preferred_subtitles_old" type="text" value="" visible="false" />
        <setting id="movies_prioritere_impaired_old" type="text" value="" visible="false" />
        <setting id="movies_subtitles_provider_old" type="text" value="" visible="false" />
        <setting id="movies_subtitle_lastchanged" type="text" value="" visible="false" />
		<setting id="movies_metadata_provider_old" type="text" value="" visible="false" />
        <setting id="movies_syslang" type="text" value="en" visible="false" />
        <setting id="movies_metadata_lastchanged" type="text" value=""   visible="false" />
        <setting label="30108" type="lsep" />
        <setting id="download_kbps" type="number" label="30110" default="0" />
        <setting id="upload_kbps" type="number" label="30122" default="0" />
	</category>
	

	
	<category label="Subtitles">
		<setting id="subtitles" type="bool" label="Enable subtitles" default="false" />
        <setting type="sep" />
        <setting id="subtitles.utf" type="bool" label="Convert subtitles to UTF-8" enable="!eq(-2,false)" default="false" />
        <setting type="sep" />
        <setting id="subtitles.lang.1" type="select" label="Primary Language" values="Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu" enable="!eq(-4,false)" default="English" />
        <setting id="subtitles.lang.2" type="select" label="Secondary Language" values="Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu" enable="!eq(-5,false)" default="English" />
        <setting id="auto_subtitles" type="bool" label="Auto download first subtitles" default="true" enable="!eq(-6,false)"/>
		<setting id="subs_window" label="Time to display the window (in secs)" type="number" default="30" enable="!eq(-7,false)"/>
		<setting id="subs_width" label="Window width" type="number" default="400" enable="!eq(-8,false)"/>
		<setting id="subs_hight" label="Window hight" type="number" default="700" enable="!eq(-9,false)"/>
		<setting id="subs_px" label="Location X" type="number" default="10" enable="!eq(-10,false)"/>
		<setting id="subs_py" label="Location Y" type="number" default="10" enable="!eq(-11,false)"/>
    </category>

</settings>